@font-face {
    font-family: _my_Marion;
    src: url('font/Marion/marion-regular.ttf');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: _my_Marion;
    color: #727773;
}

h1 {
    text-align: center;
}

#main {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 1vw 1vh;
    padding: 1vw 1vh;
    border: 2px solid beige;
    border-radius: 2rem;
    background-color: rgb(251, 251, 242, 1);
    background-size: cover;
    
/*    overflow-y: scroll;*/
}

#logo {
    width: 100%;
    border: 2px solid beige;
    border-radius: 2rem;
}

#background_wrap {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-image: url("./img/bg-rings-phone.jpg");
}

@media screen and (orientation: landscape) {
    #background_wrap {
        background-image: url("./img/bg-rings.webp");
    }
}