@font-face {
    font-family: _my_Marion;
    src: url('font/Marion/marion.regular.ttf');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: _my_Marion;
    color: #727773;
}

h1 {
    text-align: center;
}

h5 {
    margin-bottom: 5px;
}

#main {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 1vw 1vh;
    padding: 1vw 1vh;
    /*border: 2px solid beige;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    background-color: rgb(251, 251, 242, 1);
    background-size: cover;
}

#logo {
    width: 100%;
    /*border: 20px solid beige;*/
    border-radius: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#background_wrap {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: rgb(241, 241, 232, 1);
    /*    background-image: url("./img/bg-rings-phone.jpg");*/
}

/*@media screen and (orientation: landscape) {
    #background_wrap {*/
/*        background-image: url("./img/bg-rings.webp");*/
    /*}
}*/



/* Add some basic styling for a nice appearance */
/*body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}*/

.mail-container {
    /*max-width: 400px;*/
    margin: 0 auto;
    padding: 20px;
/*    background-color: #ffffff;*/
    border-radius: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mail-container input[type="text"] {
    width: 95%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2rem;
}

.mail-container textarea {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2rem;
    resize: vertical; /* Allow vertical resizing */
}

#main input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 2rem;
    cursor: pointer;
}

#okIcon {
    display: inline;
    height: 1rem;
    width: auto;
}
