body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top center;
    background-attachment: fixed;
/*    scroll-behavior: initial;*/
/*    overflow-y: hidden;*/
}

h1 {
    text-align: center;
}

#main {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 1vw 1vh;
    padding: 1vw 1vh;
    border: 2px solid beige;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255, 0.6);
    
/*    overflow-y: scroll;*/
}

#logo {
    width: 100%;
    border: 2px solid beige;
    border-radius: 2rem;
    /*    max-width: 100px;*/
}

body {
    background-image: url("./img/bg-rings-phone.jpg");
}

@media screen and (min-width: 769px) {
    body {
        background-image: url("./img/bg-rings.webp");
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url("./img/bg-rings.webp");
    }
}